name: CI/CD

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master

jobs:
  # Estágio 1: Build
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Clean solution
        run: dotnet clean TechChallengeGrupo66.sln

      - name: Install dependencies
        run: dotnet restore TechChallengeGrupo66.sln
    
      - name: Build solution
        run: dotnet build TechChallengeGrupo66.sln  --configuration Release

  # Estágio 2: Test
  test:
    runs-on: ubuntu-latest
    needs: build
    services:
      rabbitmq:
        image: rabbitmq:3-management
        ports:
          - 5672:5672
          - 15672:15672
        options: --name rabbitmq-test
        env:
          RABBITMQ_HOST: 'localhost'
          RABBITMQ_PORT: '5672'
          RABBITMQ_USERNAME: 'guest'
          RABBITMQ_PASSWORD: 'guest'
        
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Run unit tests
        run: dotnet test ./TestProject/TestProject.csproj --configuration Release

  # Estágio 3: Dockerize
  dockerize:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASS }}

      - name: Build and push API.Producer Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Api.Producer/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/api-producer:latest

      - name: Build and push Worker.Consumer Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Worker.Consumer/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/worker-consumer:latest
  
  deploy:
    runs-on: ubuntu-latest
    needs: dockerize
    steps:
      # 1. Checkout do código
      - name: Checkout repository
        uses: actions/checkout@v3
  
      # 2. Configuração do KUBECONFIG com o arquivo armazenado no secrets
      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" | base64 -d > kubeconfig.yaml
  
      # 3. Testar conexão com o cluster usando o arquivo kubeconfig
      - name: Test Kubernetes connection
        run: kubectl --kubeconfig=kubeconfig.yaml get nodes
  
      # 4. Atualizar imagens no Kubernetes (usando --kubeconfig)
      - name: Push Docker images to Kubernetes
        run: |
          kubectl --kubeconfig=kubeconfig.yaml -n tech-challenge set image deployment/api-producer api-producer=${{ secrets.DOCKER_HUB_USERNAME }}/api-producer:latest
          kubectl --kubeconfig=kubeconfig.yaml -n tech-challenge set image deployment/worker-consumer worker-consumer=${{ secrets.DOCKER_HUB_USERNAME }}/worker-consumer:latest
  
      # 5. Aplicação dos manifestos (usando --kubeconfig)
      - name: Apply Kubernetes manifests
        run: |
          kubectl --kubeconfig=kubeconfig.yaml apply -f k8s/
