name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Docker Login
      uses: docker/login-action@v3.3.0
      with:
          username: ${{  secrets.USER  }}  
          password: ${{  secrets.PASS  }}  
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Install dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build --no-restore --configuration Release

    - name: Run unit tests
      run: dotnet test --no-build --configuration Release --filter TestCategory=Unit

    - name: Run integration tests
      run: dotnet test --no-build --configuration Release --filter TestCategory=Integration

    - name: Build and push Docker images
      uses: docker/build-push-action@v6.8.0
      with:
        context: .
        push: true
        tags: |
            wmarques85/techchallengegrupo66:v1
            wmarques85/techchallengegrupo66:latest
      
